 html {
  background-image: url(assets/rococobg.png);
  background-size: 100%;
}
body {
  overscroll-behavior: none;
}

.frame {
  background-image: url(assets/bestframe.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 620px;
  height: 540px;
  z-index: +1;
  position: fixed;
  left: 24%;
}
.photobooth {
  background: transparent;
  max-width: 40%;
  margin: 2rem auto;
  border-radius: 2px;
  position: fixed;
  top: 10%;
  left: 30%;
}
.controlsframe {
  background-image: url(assets/controlframe.png);
  background-repeat: no-repeat;
  position: fixed;
  left: 1%;
  top: 8%;
  width: 233px;
  height: 300px;
}
.controls {
  position: fixed;
  left: 4%;
  top: 15%;
  width: 160px;
  height: 220px;
  text-align: center;
  background-color: white;
  z-index: -1;
}
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 100%;
  float: left;
}

.player {
 display: none;
}
 

.grayscale{

    -webkit-filter:grayscale(1);

    -moz-filter:grayscale(1);

    -o-filter:grayscale(1);

    -ms-filter:grayscale(1);

    filter:grayscale(1);

}

.sepia{

    -webkit-filter:sepia(0.8);

    -moz-filter:sepia(0.8);

    -o-filter:sepia(0.8);

    -ms-filter:sepia(0.8);

    filter:sepia(0.8);

}

.blur{

    -webkit-filter:blur(3px);

    -moz-filter:blur(3px); */

    -o-filter:blur(3px);

    -ms-filter:blur(3px);

    filter:blur(3px);

}

.brightness{

    -webkit-filter:brightness(0.3);

    -moz-filter:brightness(0.3);

    -o-filter:brightness(0.3);

    -ms-filter:brightness(0.3);

    filter:brightness(0.3);

}

.contrast{

    -webkit-filter:contrast(0.5);

    -moz-filter:contrast(0.5);

    -o-filter:contrast(0.5);

    -ms-filter:contrast(0.5);

    filter:contrast(0.5);

}

.hue-rotate{

    -webkit-filter:hue-rotate(90deg);

    -moz-filter:hue-rotate(90deg);

    -o-filter:hue-rotate(90deg);

    -ms-filter:hue-rotate(90deg);

    filter:hue-rotate(90deg);

}

.hue-rotate2{

    -webkit-filter:hue-rotate(180deg);

    -moz-filter:hue-rotate(180deg);

    -o-filter:hue-rotate(180deg);

    -ms-filter:hue-rotate(180deg);

    filter:hue-rotate(180deg);

}
.hue-rotate3{

    -webkit-filter:hue-rotate(270deg);

    -moz-filter:hue-rotate(270deg);

    -o-filter:hue-rotate(270deg);

    -ms-filter:hue-rotate(270deg);

    filter:hue-rotate(270deg);

}
.saturate{

    -webkit-filter:saturate(10);

    -moz-filter:saturate(10);

    -o-filter:saturate(10);

    -ms-filter:saturate(10);

    filter:saturate(10);

}

.invert{

    -webkit-filter:invert(1);

    -moz-filter:invert(1);

    -o-filter: invert(1);

    -ms-filter: invert(1);

    filter: invert(1);

} 
