html {
  background-image: url(assets/rococobg.png);
  background-size: 100%;
}
body {
  overscroll-behavior: none;
}
.frame {
  background-image: url(assets/bestframe.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 620px;
  height: 540px;
  z-index: +1;
  position: fixed;
  left: 24%;
}
.photobooth {
  background: transparent;
  max-width: 40%;
  margin: 2rem auto;
  border-radius: 2px;
  position: fixed;
  top: 10%;
  left: 30%;
}
.controlsframe {
  background-image: url(assets/controlframe.png);
  background-repeat: no-repeat;
  position: fixed;
  left: 1%;
  top: 8%;
  width: 233px;
  height: 300px;
}
.controls {
  position: fixed;
  left: 4%;
  top: 15%;
  width: 160px;
  height: 220px;
  text-align: center;
  background-color: white;
  z-index: -1;
}
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 100%;
  float: left;
}

.player {
 display: none;
}
